*{
  margin: 0;
}

body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.box {
  min-height: 100px;
  height: auto;
}

.one {
  width: 50px;
  background: red;
  margin-top: 10px;
}
.two {
  width: 32px;
  background: blue;
}
.three {
  max-width: 600px;
  background: green;
}

